# dependencies
node_modules

# next.js
.next/
out/

# output
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo
next-env.d.ts

# IDEs
.idea
.vscode

# OS
.DS_Store
